/*table*/
.table thead td {font-weight: bold;}
table.form {width: 100%;}
table.form input[type='text'] {display: inline-block;vertical-align: middle;}
table.form select {width: auto;min-width:200px;display: inline-block;vertical-align: middle;}
table.form td {padding: 10px 5px!important;vertical-align:top;text-align: left;}
table.form td:nth-child(odd) {width:300px!important;}
table.form td > span {display:block;}

/*ELEMENTS FIX*/
.breadcrumb {margin: 20px 0px;}
.breadcrumb li:last-child a {color: #1E91CF;}

/**/
.alert div {padding-left: 5px;display: inline-block;vertical-align: middle;}

a.btn:visited {color: #fff;}
a.btn-default:visited {color: #000;}

.panel-heading h3 {padding: 9px 0px;display: inline-block;}

.pagination {border: none!important}

.nav-tabs a {color: #428BCA!important;}
.nav-tabs li.active a {color: #555!important;}

.tab-content {margin: 10px 0px;}

span[data-toggle="tooltip"]:after, label.control-label span:after {
	font-family: FontAwesome;
	color: #1E91CF;
	content: "\f059";
	margin-left: 4px;
}

.input-group input[type="checkbox"]{vertical-align: bottom;}
.input-group label{margin-bottom: 0px;}

.tooltip-arrow, .tooltip-inner {text-align: left;}

button.multiselect {width: 100%;text-align:left;padding-left: 18px;}

.multiselect-container {width: 100%;}

/*panel*/
.panel-default .panel-heading {
    color: #595959;
    border-color: #E8E8E8;
    background: #FCFCFC none repeat scroll 0% 0%;
}
.panel .panel-heading {
    position: relative;
}

span.kbd {
    padding: 4px 0px;
    display: block;
}

span.help {
    display: block;
    border-left: 3px solid #ddd;
    padding-left: 3px;
}