/* FONT */
@font-face {
	font-family: 'ArsenalBold';
	src: url('../fonts/Arsenal/bold/ArsenalBold.otf') format("opentype");
	src: url('../fonts/Arsenal/bold/ArsenalBold.eot') format('embedded-opentype'),
}
@font-face {
	font-family: 'ArsenalRegular';
	src: url('../fonts/Arsenal/regular/ArsenalRegular.otf') format("opentype");
	src: url('../fonts/Arsenal/regular/ArsenalRegular.eot') format('embedded-opentype'),
}
@font-face {
	font-family: 'GloberBlack';
	src: url('../fonts/Fontfabric/globerblack/FontfabricGloberBlack.otf') format("opentype");
	src: url('../fonts/Fontfabric/globerblack/FontfabricGloberBlack.eot') format('embedded-opentype'),
}
@font-face {
	font-family: 'GloberBold';
	src: url('../fonts/Fontfabric/globerbold/FontfabricGloberBold.otf') format("opentype");
	src: url('../fonts/Fontfabric/globerbold/FontfabricGloberBold.eot') format('embedded-opentype'),
}
@font-face {
	font-family: 'GloberBook';
	src: url('../fonts/Fontfabric/globerbook/FontfabricGloberBook.otf') format("opentype");
	src: url('../fonts/Fontfabric/globerbook/FontfabricGloberBook.eot') format('embedded-opentype'),
}
@font-face {
	font-family: 'GloberRegular';
	src: url('../fonts/Fontfabric/globerregular/FontfabricGloberRegular.otf') format("opentype");
	src: url('../fonts/Fontfabric/globerregular/FontfabricGloberRegular.eot') format('embedded-opentype'),
}
@font-face {
	font-family: 'GloberThin';
	src: url('../fonts/Fontfabric/globerthin/FontfabricGloberThin.otf') format("opentype");
	src: url('../fonts/Fontfabric/globerthin/FontfabricGloberThin.eot') format('embedded-opentype'),
}
@font-face {
	font-family: 'DemiBold';
	src: url('../fonts/Oswald/demibold/OswaldDemiBold.ttf') format("opentype");
	src: url('../fonts/Oswald/demibold/OswaldDemiBold.eot') format('embedded-opentype'),
}
@font-face {
	font-family: 'ExtraLight';
	src: url('../fonts/Oswald/extralight/OswaldExtraLight.ttf') format("opentype");
	src: url('../fonts/Oswald/extralight/OswaldExtraLight.eot') format('embedded-opentype'),
}
/* END FONTS */

/* TOOLS */
.clearfix {
	clear: both;
}
/* END TOOLS */

/* TEMPLATE */
body {
	font-family: ArsenalRegular, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #000;
}
a {
	color: #000;
}
a:hover {
	color: #000;
	text-decoration: none;
	text-shadow: 0px 0px 0px #000;
}
a:focus {
	color: #000;
	text-decoration: none;
}
img {
	max-width: 100%;
}
ul {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
}
.header, .menu, .main, .footer {
	position: relative;
}
.main {
	padding: 10px 15px;
}
#content {
	min-height: 500px;
}
.header {
    padding: 15px 15px 0 15px;
}
.header__logobox {
	text-align: center;
}
.logo__img {
	position: relative;
	z-index: 1;
	background-color: #fff;
	width: 400px;
}
.logo__hidden-title {
	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;
	top: 0;
	font-size: 14px;
}
.logo__tagline {
    font-size: 22px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin: 0;
	padding: 8px 0 8px 0;
}
.b-panel {
	float:right;
}
.panel__languagesbox {
	float: left;
	width: 50%;
	padding-bottom: 15px;
}
.panel__userpanelbox {
    float: right;
    font-size: 12px;
    font-family: GloberRegular;
}
.userpanel__ul {
	list-style: none;
}
.userpanel__list {
	float: left;
}
.userpanel__list .dropdown-menu {
	min-width: 295px;
}
.userpanel__link {
	padding: 13px 5px;
	display: block;
}
.userpanel__img {
	width: 21px;
	margin-top: -6px;
}
.language__button {
	color: #000;
}
.language__button:hover {
	color: #000;
	text-decoration: none;
	text-shadow: 0px 0px 0px #000;
}
.language__button:focus {
	color: #000;
	text-decoration: none;
	text-shadow: 0px 0px 0px #000;
}
.languages_dropdown-menu {
	left: -10px;
	min-width: 100px;
}
.language__code {
	text-transform: uppercase;
}
.btn_cart {
	background: #fff;
	font-size: 12px;
	padding: 12px 7px 7px 7px;
	border: none;
}
/* NAV */
.navigation {
	background-color: #000;
	position: relative;
	font-family: DemiBold;
	text-transform: uppercase;
}
.nav__menu {
	padding: 0;	
}
.navigation .menu__link {
	color: #fff;
	transition: background-color 1000ms ease-in-out 150ms, color 500ms ease-in-out 150ms;
	padding: 15px 20px;
}
.navbar-collapse {
	padding: 0;
	border-color: #fff;
}
.navigation .menu__link:hover {
	color: #000;
}
.navigation .menu__link:focus {
	color: #000;
}
.menu__title {
	color: #fff;
	padding: 16px 15px 14px 40px;
	cursor: pointer;
	float: left;
	margin: 0;
}
.navbar-toggle {
	border-color: #fff;	
}
.navbar-toggle .icon-bar {
	background-color: #fff;	
}
.navbar-nav {
	margin: 0;
	text-align: center;
}
/* EMD NAV */

/* MEDIA NAV */
@media (min-width: 768px){
	.navbar-nav{
		margin: 0 auto;
		display: table;
		table-layout: fixed;
		float:none;
	}
}
@media (max-width:992px) {
	.navigation .menu__link {
		padding: 15px 10px;
	}
}
/* END MEDIA NAV */
/* FOOTER */
.footer {
	background-color: #000;
	color: #fff;
	position: relative;
	padding: 20px 15px 5px 15px;
}
.footer__bg {
	height: 37px;
	background: url('../design/background/footer-line-bg.png');
}
.footer__logo {
    text-align: center;
    padding: 25px 15px 0px;
    margin-top: -5px;
}
.footer_img {
	background: transparent;
	width: 238px;
}
.footer_logotagline {
	background: transparent;
	color: #fff;
	font-size: 15px;
}
.contact__heders {
	position: relative;
	padding: 10px 0px;
	font-family: GloberBlack;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.5px;
	color: #fff;
}
.contact__heders:before {
	content: '';
	width: 80%;
	position: absolute;
	bottom: -6px;
	height: 5px;
	background-color: #fff;
}
.contact__ul {
	list-style: none;
	font-family: ExtraLight;
	font-size: 17px;
	margin-top: 20px;
}

.contact__link {
	color: #fff;
	text-transform: uppercase;
}
.contact__link:hover {
	color: #ddd;
}
.contact__worktime {
	text-transform: uppercase;
}
.footer__copyright {
	padding: 10px 15px;
}
/* END FOOTER */

/* SOCIAL ICON */
.social__ul {
	list-style: none;
	margin-top: 10px;
	float: left;
}
.social__list {
	float: left;
}
.social__link {
	display: block;
	width: 30px;
	height: 30px;
}
.fb_icon {
	background-position: 7px;
}
.tw_icon {
	background-position: -23px;
}
.go_icon {
	background-position: -51px;
}
.pi_icon {
	background-position: -81px;
}
.yu_icon {
	background-position: -111px;
	width: 60px;
}
.in_icon {
	background-position: -170px;
}
.wholesaler__description {
padding: 0;
}
.wholesaler__newsletter {
text-transform: uppercase;
font-family: ArsenalBold;
}
.wholesaler__newsletter h3 {
font-size: 16px;
}

.contact__ul {
list-style: none;
font-family: ExtraLight;
font-size: 17px;
margin-top: 20px;
}
.contact__list {
	float: left;
	width: 100%;
}
.contact__link {
color: #fff;
text-decoration: none;
}
.sociaL_icon2 {
float: left;
width: 20px;
height: 20px;
}
/* SOCIAL ICON END */
/* breadcrumb */
.breadcrumb {
font-family: DemiBold;
text-transform: uppercase;
font-size: 10px;
background-color: transparent;
margin: 0;
    padding: 8px 2px;
}
/* PRODUCTS */
.product__img {
	width: 100%;
}
.other__productimgbox {
    border-bottom: 5px solid #000;
padding: 5px 0 4px 0;
}
.other__imgproduct {
padding: 0;
padding-right: 6px;
}
.product__price, .product__discounts {
width: 50%;
float: left;
margin-top: 5px;
font-family: ArsenalBold;
}
.id__products {
float: left;
width: 100%;
margin-top: 15px;
font-family: ArsenalBold;
font-size: 21px;
}
.product__name {
width: 100%;
float: left;
text-transform: uppercase;
font-size: 17px;
margin-top: 20px;
margin-bottom: 10px;
line-height: 1;
}
.product__price {
font-size: 20px;
position: relative;
bottom: 0;
}
.product__category {
float: left;
width: 100%;
margin-top: 15px;
font-family: ArsenalBold;
text-transform: uppercase;
}
.product__manyimages {
font-family: ArsenalBold;
text-transform: uppercase;
float: left;
width: 100%;
}
.many__images {
margin-top: 2px;
margin-left: -5px;
padding: 7px;
}
.product__colum {
float: left;
border-top: 5px solid #000;
margin-top: 20px;
width: 100%;
}
.columblock__icon {
font-size: 28px;
padding: 0px 15px 0px 15px;
cursor: pointer;
}
.columblock {
    padding: 0px 15px 0px 15px;
    border: 1px solid #c8c7c7;
    float: left;
    margin-right: 5px;
    text-align: center;
    font-size: 29px;
    font-family: ArsenalBold;
}
.columblock_input {
border: none;
}
.product__buttoncheck {
float: left;
margin-top: 30px;
}
.button__addcart {
padding: 5px 26px 5px 25px;
font-size: 19px;
background-color: #000;
border-radius: 15px;
color: #fff;
display: inline;
cursor: pointer;
float: left;
text-transform: uppercase;
clear: both;
}
.button__addvishlist {
padding: 5px 25px 5px 30px;
font-size: 12px;
background-color: #000;
border-radius: 15px;
color: #fff;
display: inline;
cursor: pointer;
float: left;
margin-top: 14px;
text-transform: uppercase;
clear: both;
}
/* END */
.catalog__boxproducts {
	padding: 10px;
}
.catalog__list {
	width: 100%;
}
.catalog__link {
	position: relative;
	z-index: 2;
	padding: 10px;
	border: 1px solid #999999;
	color: #000;
	text-transform: uppercase;
}
.catalog__product {
	position: relative;
}
.catalog__link:hover {
	text-decoration: none;
	color: #555;
}
.catalog__link:focus {
	text-decoration: none;
}
.catalog__link:active {
	text-decoration: none;
}
.catalog__description-id {
	margin: 0;
}
.catalog__descriptionbox {
	margin-top: 20px;
	margin-bottom: 10px;
}
.catalog__pricebox {
	font-family: ArsenalBold;
	font-size: 16px;
	border-top: 1px solid #999999;
}
.catalog__price-text {
	margin: 10px 0 5px;
}
.catalog__title {
	text-transform: uppercase;
	font-family: ArsenalBold;
	font-size: 28px;
}
.catalog__menu__list {
	padding: 4px;
	position: relative;
	z-index: 9999;
	float: left;
}
.catalog_menutitle span {
	font-size: 14px;
}
.catalog__ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.catalog__dropdownlist {
	padding-left: 25px;
}
.catalog_menulink {
	padding: 0;
	border: none;
}
.catalog_menutitle {
	font-size: 24px;
}
.catalog__dropdownmenu {
	list-style: none;
	text-transform: uppercase;
}
.catalog__dropdownlink {
	color: #000;
	font-size: 15px;
	text-decoration: none;
}
.catalog__dropdownlink:hover {
	color: #555;
	text-decoration: none;
}
.catalog__dropdownlink:focus {
	color: #000;
	text-decoration: none;
}
.recently-viewed__title {
padding: 10px 0 10px 0;
text-transform: uppercase;
border-bottom: 1px solid #000;
font-family: ArsenalRegular;
font-size: 14px;
}
.catalog__descriptionbox {
margin-top: 20px;
margin-bottom: 10px;
}
.catalog__description-id {
margin: 0;
}
.catalog__description-text {
font-size: 14px;
margin: 0;
height: 45px;
overflow: hidden;
}
.catalog__pricebox {
font-family: ArsenalBold;
font-size: 16px;
border-top: 1px solid #999999;
}
.catalog__price-text {
margin: 10px 0 5px;
}
.catalog__iconbox {
position: absolute;
bottom: -7px;
right: 0;
}
.catalog__icon {
width: 32px;
}
.products__link {
	display: block;
	position: relative;
}
.catalog_pagination {
	position: fixed;
	bottom: 0;
	background-color: #000;
	height: 50px;
	margin: 0;
	width: 100%;
	padding: 10px 15px;
	border-radius: 0;
	background: #fff;
	box-shadow: 0 -2px 4px -2px #999;
	opacity: 0.8;
	display: none;
	z-index: 2;
}
.catalog_pagination:hover {
	opacity: 1;
}
.pagination {
	margin: 0;
	float: right;
}
.pagination__products {
	width: 63%;
	float: left;
}
.pagination__products ul li a {
	color: #000;
	transition: 650ms ease-in-out;
	font-family: DemiBold;
}
.pagination__products ul li a:hover {
	color: #555;
}
.pagination__products .of__result {
	padding: 8px;
	color: #999;
	float: right;
	font-family: DemiBold;
}
.pagination__products .of__result span {
	color: #848484;
}
.pagination__products .active span {
	background-color: #eee;
	color: #000;
font-family: DemiBold;
border-color: #ADACAC;
}
.totop__button {
	float: right;
	background-color: #000;
	color: #fff;
    padding: 5px;
	border-radius: 20px;
	margin-right: 40px;
	cursor: pointer;
	transition: 650ms ease-in-out;
	border: 1px solid #000;
}
.totop__button span {
	font-size: 9px;
	padding: 5px;
}
.totop__button:hover {
	background-color: #fff;
	color: #000;
}
.gift__img {
    margin-top: 25px;
    width: 240px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.btn-primary {
background: #000;
color: #fff;
text-transform: uppercase;
	border-color: #000;
}
.btn-primary:hover {
background: #555;
color: #fff;
text-transform: uppercase;
}
.gift-card .col-sm-3 {
	width: 41.66666667%;
	padding-left: 50px;
}
.text-left {
	text-align: left !important;
}
.main__banner {
overflow: hidden;
padding: 0;
text-align: center;
background: #000;
}
.main__banner .col-sm-3 {
	width: 100%;
	padding: 0;
}
.main__banner #column-right {
	height: 100%;
	border: none;
display: block !important;
}
.main__banner #column-left {
	height: 100%;
	border: none;
display: block !important;
}
.banner__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.banner_smoth:before {
    content: ' ';
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    z-index: 1;
    top: 0;
    -webkit-transition: cubic-bezier(0.4, 0, 1, 1) 600ms;
    -o-transition: cubic-bezier(0.4, 0, 1, 1) 600ms;
    -moz-transition: cubic-bezier(0.4, 0, 1, 1) 600ms;
    transition: cubic-bezier(0.4, 0, 1, 1) 600ms,;
    width: 100%;
}
.banner_smoth:hover:before {
	opacity: 0.9;
}
.banner__img {
    min-width: 100%;
    min-height: 100%;
    max-width: initial;
}
.banner__heder {
    bottom: 40px;
    font-family: GloberBlack;
    padding: 15px 0 15px 0;
    font-size: 33px;
    width: 80%;
}
.banner__text, .banner__heder {
    text-transform: uppercase;
    position: absolute;
    left: 20px;
    color: #fff;
    text-align: left;
    z-index: 999;
    z-index: 2;
}
.banner__text {
    bottom: 0;
    font-family: GloberThin;
    font-size: 20px;
    border-top: 5px solid #fff;
    padding: 10px 0 0 0;
    text-align: left;
    font-weight: bold;
}
.banner_stocktitle {
    font-size: 26px;
}
.banner__stock {
    position: relative;
    font-size: 245px;
    top: 40px;
}
.products__icon {
    position: absolute;
    top: 10px;
    right: 10px;
}
@media (min-width: 992px) {
	.col-md-1.featured__products {
		width: 12.5%;
	}
	.header__phonebox {
		padding-top: 61px;
	}
	.filter {
		height: 375px;
	}
}
.featured__products {
    padding: 0;
    border: 1px solid #000;
}
.main__opt .col-sm-3 {
	width: 50%;
}
.main__opt .html_module {
	border-bottom: 5px solid #000;
padding: 15px 0 25px 0;
}
div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}
.myaccount__header {
    font-weight: bold;
    font-family: ArsenalBold;
    font-size: 30px;
    text-transform: uppercase;
}
.myaccount__hello {
    font-family: ArsenalBold;
}
.myaccount__system-header {
    margin-bottom: 20px;
    font-size: 21px;
    padding: 10px 0;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}
.myaccount__system-header span {
    float: right;
    color: #ABABAB;
    transition: 300ms;
    font-size: 14px;
    cursor: pointer;
    line-height: 2;
}
.myaccount__ul {
    list-style: none;
    margin: 0;
}
.myaccount__list {
    position: relative;
    width: 100%;
    display: inline-block;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 5px 0;
    padding: 5px 0;
}
.myaccount_sysheder {
    font-weight: bold;
    border-right: 1px solid #eee;
}
.myaccount__newsletter {
	min-height: 314px;
}
.recently-viewed_row {
    margin-left: -5px;
    margin-right: -5px;
}
@media (min-width: 768px) {
.col-sm-4.recently_vievedbox {
    width: 20%;
}

}
@media (min-width: 992px) {
.col-md-1.recently_vievedbox {
    width: 10%;
}
.main__banner {
	height: 375px;
}
}
@media (max-width: 768px) {
	.banner #column-right {
		float: left;
	}
	.panel__languagesbox {
		width: initial;
		padding-top: 5px;
	}
	.banner__stock {
		font-size: 150px;
	}
}
@media (max-width: 992px) {
	.panel__languagesbox {
		padding-bottom: 0;
	}
	#search {
		display:none;
	}
}
.products__image {
    width: 100%;
}

.recently_vievedbox {
    padding: 5px 10px 15px 10px;
}
.no_padding {
	padding: 0;
}
.btn-dark {
	color: #fff;
	background-color: #000000;
	border-color: #000000;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 10px
}
.dropdown_menu-width {
	text-align: center;
	min-width: 160px !important;
}
.banner {
	padding: 0;
}
.banner #column-left {
	width: 100%;
	padding: 0;
}
.banner #column-right {
	width: 100%;
	padding: 0;
}

.phone__imgbox {
	float: left;
}
.phone__img {
    width: 11px;
    position: relative;
    top: -4px;
}
.phone__citynamebox {
font-family: GloberBook;
    float: left;
width: 138px;
}
.phone__cityname {
	padding: 0px 8px;
}
.phone__number {
    font-family: GloberBold;
	    padding: 2px 0px;
}
.phone__ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* END TEMPLATE */

.filter {
	background-color: #fff;
}
.filter__heder {
    font-size: 30px;
    margin: 15px 0 5px 0;
    font-family: ArsenalBold;
}
.filter__heder, .filter__title {
    text-transform: uppercase;
    text-align: center;
}
.filter__box {
    transition: 1000ms ease-in-out;
    border-radius: 25px;
	padding: 0 2px;
}
.filter__title {
    position: relative;
    font-family: ArsenalRegular;
    font-size: 20px;
    margin: -2px 0 10px 0;
    padding: 5px 0;
}
.filter__heder, .filter__title {
    text-transform: uppercase;
    text-align: center;
}
.filter__ul {
    list-style: none;
    overflow-y: auto;
    text-align: left;
    height: 200px;
}
.filter__otherlist {
    position: relative;
    text-align: center;
    font-family: ArsenalRegular;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 10px;
    margin-top: 10px;
    cursor: pointer;
    padding-bottom: 5px;
}
.filter__title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	margin: auto;
    width: 60%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.18);
}
.filter__otherlist:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
	right: 0;
	margin: auto;
    width: 60%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.18);
}
.btn-icoll:hover {
    background-color: #eee;
    color: #000;
}
.filter_buttonsearch {
    margin-top: 20px;
    margin-bottom: 0px;
}
.btn-icoll {
    padding: 5px 20px;
    background-color: #000;
    display: inline-block;
    color: #fff;
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 25px;
    position: relative;
    z-index: 2;
    transition: 1000ms ease-in-out;
    border: 1px solid #ddd;
	margin-bottom: 10px;
}
.filter__openbutton {
    text-align: center;
    margin: 15px 0 0 0;
    height: 61px;
    clear: both;
	position: relativetive;
}
.filter__openbutton:before {
    content: '';
    position: absolute;
    width: 97%;
    left: 0;
    right: 0;
    bottom: -3px;
    margin: auto;
    height: 5px;
    background-color: #000;
}
.filter__openbutton span {
    font-size: 14px;
    margin-left: 4px;
}
.filter__openbutton div {
    padding: 5px 25px 5px 30px;
    font-size: 30px;
    background-color: #000;
    border-radius: 15px;
    color: #fff;
    display: inline;
    cursor: pointer;
}
.filter__input + label {
    padding-left: 20px;
    background: url(../design/icon/checkbox.png) 0 0 no-repeat;
    height: 14px;
    width: 14px;
    cursor: pointer;
    line-height: 14px;
    font-family: ArsenalRegular;
    font-weight: 100;
    font-size: 13px;
}
.filter__input:checked + label {
	background-position: 0 -14px;
}
.filter__input {
    position: absolute;
    left: -9999px;
}
.main__filter .filter__input, .filter__label {
    margin: 0;
    padding: 0;
}
.filter__label {
	width: 100% !important;
}
.banner_fix-width .banner__heder{
	width: 50%;
}
.newsletterbox {
	position: relative;
}
#content.products {
	margin-top: -29px;
}
.footer_social-list {
	width: initial;
}
.product__categorydesc {
    font-size: 12px;
    font-family: ArsenalRegular;
}
.product__descriptionatr {
	padding-top: 15px;
	clear: both;
}
.product__descriptionatr p{
    font-size: 12px !important;
    font-family: ArsenalRegular !important;
}
.product__descriptionatr p span {
    font-size: 12px !important;
    font-family: ArsenalRegular !important;
}
.net_products>li+li:before {
	    content: "|" !important;
}
#cart .table {
	font-family: ArsenalRegular;
	font-size: 12px;
}
.cart__quantity {
	width: 30px;
}
.cart__remove-icon {
	position: relative;
}
.cart__total:last-child {
	font-family: ArsenalBold;
	font-size: 14px;
}
.cart__empty {
	font-family: ArsenalRegular;
	margin: 5px 0;
	font-size: 12px;
}
.product__attr-name {
	height: 20px;
	line-height: 20px;
}
.product__categorydesc {
	height: 20px;
	line-height: 20px;
}
#search {
	position: absolute;
	top:0;
	right:0;
	width:150px;
	overflow: hidden;
}
.b-button__search {
	border-radius: 0;
	height: 50px;
	background-color: #000;
	color: #fff;
	border: none;
	transition: background-color 1000ms ease-in-out 150ms, color 500ms ease-in-out 150ms;
}
.b-button__search i {
	color: inherit;
}
.b-button__search:hover {
	background-color: #eee;
	color: #000;
}
.b-searc__input {
	height: 50px;
	border: none;
	border-radius: 0;
    position: absolute;
    right: -100px;
}
#search .b-button__search:hover .b-searc__input {
	right: 0;
}
@media (min-width: 992px) and (max-width: 1352px) {
	.userpanel__link {
		padding: 13px 2px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.banner #column-right {
		float: none;
	}
}

.plusAndMinus{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* SEARCH PAGE */
.b-search__title{
	margin-top: 20px;
}
.product_price-cart_qty {
font-family: ArsenalBold;
    text-transform: uppercase;
}
.product__price-cart {
	display:none;
}