<?php echo $header; ?>
<div class="container-fluid" style="padding:0;background-color: #000;">
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 banner" style="padding:0;"><?php echo $column_left; ?></div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 filter"><?php echo $content_top; ?></div>
	<div class="col-md-3 col-lg-3 banner"><?php echo $column_right; ?></div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 banner" style="padding:0;"><?php echo $bottom_left; ?></div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 banner" style="padding:0;"><?php echo $bottom_right; ?></div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 module" style="padding:0;"><?php echo $content_bottom; ?></div>
</div>
<?php echo $footer; ?>