<div id="search" class="input-group">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control input-lg b-searc__input" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg b-button__search"><i class="fa fa-search"></i></button>
  </span>
</div>